/* I used reactbits to get my dynamic background https://reactbits.dev/backgrounds/color-bends */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at center, #090909, #000);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.Background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.app-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
